

/* setting default styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

#root {
    display: flex;
    flex-direction: column;
}

.mybreadcrumb ol {
    background-color: transparent !important;
}

.mybreadcrumb ol a {
    color: white;
    text-decoration: none;
}

.mybreadcrumb ol a:hover {
    color: #F08952 !important;
}

.breadcrumb-item+.breadcrumb-item::before {

    color: white !important;

}


.deconnection {
    padding : 5px;
    border: none;
    border-radius: 10px;
    background-color: #f08952;
    color: white;
    transition: all 250ms ease-in-out;
}

.deconnection:hover {
    color: #f08952;
    border: 1px solid #f08952;
    background-color: transparent; 
}